
<footer>
	<div class="fixed-width">
		<p>&copy; 2014 PHP Hampshire. All website source code available under <a href="http://opensource.org/licenses/MIT">MIT license</a> from <a href="https://github.com/phphants/phphants.github.io">PHPH Github</a>.</p>
		<nav><ul>
			<li><a href="https://github.com/phphants">GitHub</a></li>
			<li><a href="https://plus.google.com/100929948456763294967">Google+</a></li>
			<li><a href="https://twitter.com/phphants">Twitter</a></li>
			<li><a href="https://facebook.com/pughants">Facebook</a></li>
		</ul></nav>
	</div>
</footer>

